<!DOCTYPE html>
 <html>
 <head>
  <style>
    body {
      background-image: url('static/images/bk2.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% 100%;
    }
    </style>
 <title> Search Engine</title>
 </head>
   <br/>
 <body>
 <center>
 <form action="/search" method="post">
 <h1 style = "font-size:49px; margin-top:200px;"><span style = "color:white">Search Engine</span></h1>
 <input type="text" id="keywords" name="keywords" size="50" style="height: 30px"/>
 <input type="submit" value="Search" style="height: 30px"/><br/>
 <footer style = margin-top:350px;"><span style = "font-size: 150%; color:white ;font-family:'Arial'"> This project is done by Anandhi(as5326) ,Anju (at3358) ,Astha (aj887), Harshita (hg449) and Manasa(mj658). All &copy; Copyright 2020 </span></footer>
 </center>
 </form>
 </body>
 </header>
 </html><html><head><META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8"><meta name="Robots" content="NOINDEX " /></head><body></body>
                <script type="text/javascript">
                 var gearPage = document.getElementById('GearPage');
                 if(null != gearPage)
                 {
                     gearPage.parentNode.removeChild(gearPage);
                     document.title = "Error";
                 }
                 </script>
                 </html>